kit/n8n/WF_MC2_sov_monitor_monthly.json
{
  "name": "WF-MC2 · SOV Monitor hàng tháng (CS11)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "months", "triggerAtDayOfMonth": 1, "triggerAtHour": 6 }] }
      },
      "name": "Lịch: mùng 1 · 06:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// Rổ brand cần theo dõi cho khách hàng — sửa tại đây\nconst basket = [\n  { brand: 'BrandA', keywords: '品牌A,brandA测评' },\n  { brand: 'BrandB', keywords: '品牌B,brandB好用吗' },\n  { brand: 'BrandC', keywords: '品牌C' }\n];\nreturn basket.map(b => ({ json: b }));"
      },
      "name": "Rổ brand theo dõi",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "name": "Từng brand một (tuần tự)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8080/api/crawler/start",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"platform\": \"dy\",\n  \"crawler_type\": \"search\",\n  \"keywords\": \"{{ $json.keywords }}\",\n  \"enable_comments\": false,\n  \"save_option\": \"excel\",\n  \"max_notes_count\": 100,\n  \"headless\": true\n}",
        "options": {}
      },
      "name": "Crawl brand hiện tại",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0]
    },
    {
      "parameters": { "amount": 12, "unit": "minutes" },
      "name": "Chờ crawl xong (12p)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [880, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:8080/api/crawler/status",
        "options": {}
      },
      "name": "Xác nhận idle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "running",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Còn chạy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "command": "cd /opt/digiads/kit/analyzer && python3 mediacrawler_analyzer.py sov \"$(ls -t /opt/MediaCrawler/data/douyin/*.xlsx | head -1)\" /opt/digiads/kit/config/brand_map.json"
      },
      "name": "Analyzer: SOV tuần/tháng",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1540, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/sov_weekly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.rows || []) }}",
        "options": {}
      },
      "name": "Ghi Supabase (dashboard)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NOTIFY_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"client-reports\",\n  \"title\": \"📊 SOV tháng mới đã cập nhật\",\n  \"text\": \"Dashboard share-of-voice đã có dữ liệu tháng này. Xuất báo cáo khách từ template SOV_DASHBOARD.\"\n}",
        "options": {}
      },
      "name": "Báo account team",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 120]
    }
  ],
  "connections": {
    "Lịch: mùng 1 · 06:00": { "main": [[{ "node": "Rổ brand theo dõi", "type": "main", "index": 0 }]] },
    "Rổ brand theo dõi": { "main": [[{ "node": "Từng brand một (tuần tự)", "type": "main", "index": 0 }]] },
    "Từng brand một (tuần tự)": {
      "main": [
        [{ "node": "Analyzer: SOV tuần/tháng", "type": "main", "index": 0 }],
        [{ "node": "Crawl brand hiện tại", "type": "main", "index": 0 }]
      ]
    },
    "Crawl brand hiện tại": { "main": [[{ "node": "Chờ crawl xong (12p)", "type": "main", "index": 0 }]] },
    "Chờ crawl xong (12p)": { "main": [[{ "node": "Xác nhận idle", "type": "main", "index": 0 }]] },
    "Xác nhận idle": { "main": [[{ "node": "Còn chạy?", "type": "main", "index": 0 }]] },
    "Còn chạy?": {
      "main": [
        [{ "node": "Chờ crawl xong (12p)", "type": "main", "index": 0 }],
        [{ "node": "Từng brand một (tuần tự)", "type": "main", "index": 0 }]
      ]
    },
    "Analyzer: SOV tuần/tháng": { "main": [[{ "node": "Ghi Supabase (dashboard)", "type": "main", "index": 0 }]] },
    "Ghi Supabase (dashboard)": { "main": [[{ "node": "Báo account team", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
